{extend name='../app/admin/view/main.html'}
{block name="button"}
    <!-- {if auth("remove")} -->
    <button data-action="{:addons_url('Index/remove')}" data-rule="id#{key}" data-csrf="{:systoken('remove')}" data-confirm="确定要删除文件吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除文件</button>
    <!-- {/if} -->
{/block}
{block name="content"}
<div class="think-box-shadow table-block">
    <table class="layui-table margin-top-10" lay-skin="line">
        <!-- {notempty name='list'} -->
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
                </th>
                <th class='text-left nowrap'>图片信息</th>
                <th class='text-left nowrap'>文件名</th>
                <th class='text-center nowrap'>存储位置</th>
                <th class='text-center nowrap'>文件地址</th>
                <th class='text-left nowrap'>文件大小</th>
                <th class='text-center nowrap'>文件后缀</th>
                <th class='text-left nowrap'>创建时间</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <!-- {foreach $list as $key=>$vo} -->
                    <tr data-dbclick>
                        <td class='list-table-check-td think-checkbox'>
                            <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                        </td>
                        <td class='text-left nowrap'>
                            <img alt="img" width="40px" height="40px" data-tips-image src="{$vo.url|default=''}">
                        </td>
                        <td class="nowrap">{$vo.original_name}</td>
                        <td class="text-center nowrap">{if $vo.upload_type == "local"}本地{elseif $vo.upload_type == "alioss"}阿里云{elseif $vo.upload_type == "qiniu"}七牛云{/if}</td>
                        <td class="text-center nowrap">{$vo.url}</td>
                        <td class="nowrap">{$vo.file_size} Byte</td>
                        <td class="text-center nowrap">{$vo.file_ext}</td>
                        <td class='text-left nowrap'>
                            日期：{$vo.create_at|format_datetime|str_replace=' ','<br><span class="color-desc">时间：',###|raw}</span>
                        </td>
                        <td class='text-left nowrap'>
                            <!-- {if auth("remove")} -->
                            <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-confirm="确定要删除该文件吗？" data-action="{:addons_url('Index/remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                            <!-- {/if} -->
                        </td>
                    </tr>
                <!-- {/foreach} -->
            </tbody>
        <!-- {/notempty} -->
    </table>
    <!-- {empty name='list'} --><span class="notdata">没有记录哦</span><!-- {else} -->{$pagehtml|raw|default=''}<!-- {/empty} -->
</div>
{/block}