<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item">
            <span class="color-green font-w7 label-required-prev">所属店铺</span>
            <span class="color-desc margin-left-5">Shop</span>
            <label class="layui-input-block">
                <select name='store_id' class='layui-select'>
                    <option value="0">请选择店铺</option>
                    <!-- {foreach $shops as $shop} -->
                        {notempty name='store_id'}
                            <!-- {eq name='shop.id' value='$store_id|default=0'} -->
                                <option selected value='{$shop.id}'>[{if $shop.shop_type eq 1}拼多多{elseif $shop.shop_type eq 2}淘  宝{elseif $shop.shop_type eq 3}阿里巴巴{elseif $shop.shop_type eq 4}京东{/if}]---{$shop.shop_name}</option>
                            <!-- {else} -->
                                <option value='{$shop.id}'>[{if $shop.shop_type eq 1}拼多多{elseif $shop.shop_type eq 2}淘宝{elseif $shop.shop_type eq 3}阿里巴巴{elseif $shop.shop_type eq 4}京东{/if}]---{$shop.shop_name}</option>
                            <!-- {/eq} -->
                        {else}
                            <!-- {eq name='shop.id' value='$vo.store_id|default=0'} -->
                                <option selected value='{$shop.id}'>[{if $shop.shop_type eq 1}拼多多{elseif $shop.shop_type eq 2}淘  宝{elseif $shop.shop_type eq 3}阿里巴巴{elseif $shop.shop_type eq 4}京东{/if}]---{$shop.shop_name}</option>
                            <!-- {else} -->
                                <option value='{$shop.id}'>[{if $shop.shop_type eq 1}拼多多{elseif $shop.shop_type eq 2}淘宝{elseif $shop.shop_type eq 3}阿里巴巴{elseif $shop.shop_type eq 4}京东{/if}]---{$shop.shop_name}</option>
                            <!-- {/eq} -->
                        {/notempty}
                    <!-- {/foreach} -->
                </select>
            </label>
        </div>
        <div class="layui-form-item">
            <span class="color-green font-w7 label-required-prev">仓库</span>
            <span class="color-desc margin-left-5">Warehouse</span>
            <label class="layui-input-block">
                <select name='whouse_id' class='layui-select' lay-search>
                    <option value="0">请选择仓库</option>
                    <!-- {foreach $whouses as $whouse} -->
                        <!-- {eq name='whouse.id' value='$vo.whouse_id|default=0'} -->
                            <option selected value='{$whouse.id}'>{$whouse.whouse_name}</option>
                        <!-- {else} -->
                            <option value='{$whouse.id}'>{$whouse.whouse_name}</option>
                        <!-- {/eq} -->
                    <!-- {/foreach} -->
                </select>
            </label>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs6">
                <label class="block relative">
                    <span class="color-green font-w7">商品货号</span>
                    <span class="color-desc margin-left-5">Goods Sn</span>
                    <input name="goods_sn" value='{$vo.goods_sn|default=""}' required placeholder="请输入商品货号" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs6">
                <label class="block relative">
                    <span class="color-green font-w7">分销价格</span>
                    <span class="color-desc margin-left-5">Distribution Price</span>
                    <input name="distribution_price" value='{$vo.distribution_price|default=""}' required placeholder="请输入销售价格" class="layui-input">
                </label>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    </div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
{block name='script'}
<script>window.form.render()</script>
{/block}