{extend name="../../admin/view/full"}
{block name='content'}
<div class="iframe-pagination">
    {include file='shelves/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th width= "10%" class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th width= "20%" class="text-center nowrap">上架时间</th>
            <th width= "10%" class="text-center nowrap">商品货号</th>
            <th width= "10%" class="text-center nowrap">分销价格</th>
            <th width= "20%" class="text-center nowrap">厂家仓库</th>
            <th width= "30%" class="text-center nowrap"></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-center nowrap'>
                日期：{$vo.create_at|format_datetime|str_replace=' ','<span class="margin-left-5 color-desc">时间：',###|raw}</span>
            </td>
            <td class="text-center nowrap">{$vo.goods_sn|default=''}</td>
            <td class="text-center nowrap">{$vo.distribution_price|default=''}</td>
            <td class="text-center nowrap">{$vo.whouse_name|default=''}</td>
            <td class='text-center nowrap'>
                <!-- {if auth("edit")} -->
                    <a class="layui-btn layui-btn-sm" data-width="500px" data-title="编辑记录" data-modal="{:url('edit')}?id={$vo.id}">编 辑</a>
                <!-- {/if} -->
                <!-- {if auth("remove")} -->
                    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该记录吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}">删 除</a>
                <!-- {/if} -->
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    <div style="bottom:5px;right:10px;position:fixed;">
        <!--{if auth("add")}-->
        <button type="button" data-width="500px" data-modal='{:url("add")}?store_id={$store_id}' data-title="添加记录" class='layui-btn layui-btn-sm'>添加记录</button>
        <!--{/if}-->
    </div>
</div>
{/block}
{block name='script'}
<script>window.form.render()</script>
{/block}