{extend name="../../admin/view/full"}
{block name='content'}
<div class="iframe-pagination">
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th width= "2%" class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th width='3%' class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
            </th>
            <th width= "5%" class="text-center nowrap">规格名称</th>
            <th width= "80%" class="text-center nowrap">规格属性</th>
            <th width= "10%" class="text-center nowrap"></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                </td>
                <td class='list-table-sort-td'>
                    <label><input data-action-blur="{:url('sort')}" data-value="id#{$vo.spid};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input"></label>
                </td>
                <td class="text-center nowrap">{$vo.spec_name|default=''}</td>
                <td class="text-left" style="word-wrap:break-word;word-break:break-all;">
                    {$vo.value_name|default=''}</br><span class="color-desc">{$vo.spec_values|default=''}</span>
                </td>
                <td class='text-center nowrap'>
                    <!-- {if auth("edit")} -->
                        <a class="layui-btn layui-btn-sm" data-width="500px" data-title="编辑记录" data-modal="{:url('edit')}?id={$vo.id}&spec_id={$vo.spid}">编 辑</a>
                    <!-- {/if} -->
                    <!-- {if auth("remove")} -->
                        <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该记录吗？" data-action="{:url('remove')}" data-value="id#{$vo.id};spec_id#{$vo.spid}">删 除</a>
                    <!-- {/if} -->
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    <div style="bottom:5px;right:10px;position:fixed;">
        <!--{if auth("add")}-->
            <button type="button" data-width="500px" data-modal='{:url("add")}?type_id={$type_id}' data-title="添加规格" class='layui-btn layui-btn-sm'>添加规格</button>
        <!--{/if}-->
    </div>
</div>
{/block}