<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <label class="layui-form-item relative block">
            <span class="color-green font-w7">属性名称</span>
            <span class="color-desc margin-left-5">Attr Name</span>
            <input class="layui-input" required placeholder="请输入属性名称" name="attr_name" value="{$vo.attr_name|default=''}"/>
        </label>
        <div class="layui-form-item relative block">
            <span class="color-green font-w7">属性值</span>
            <span class="color-desc margin-left-5">Attr Values</span>
            <label class="relative block">
                <textarea class="layui-textarea" placeholder="请输入属性值,每个属性值以','号隔开" name="attr_values">{$vo.attr_values|default=''}</textarea>
            </label>
            <span class="help-block">每个属性值以","号隔开</span>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
    {notempty name='type_id'}<input type='hidden' value='{$type_id}' name='type_id'>{/notempty}
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>