<style>
    #step1{display:block;}
    #step1 a {text-decoration: none;color: #333;}
    #step2,#step3{display: none;}
    #step1,#step2,#step3{width: 100%;height: 40%;left: 2%;top:10%;}
    #selectedSort {font-style: normal;}
    .soft-cate-tip{margin-bottom: 10px;border: 1px solid #ddd;padding: 6px 12px;font-size: 12px;color: rgba(0,0,0,.8);background: #FFF;}
    .soft-cate-tip .lebel{font-weight: 400;font-style: normal!important;}
    .select-box {border:solid 1px #ddd;width:96.8%;height:220px;padding:20px 20px 10px;position:relative;z-index:5;background: #fff;}
    .select-box .close-btn {position:absolute;right:5px;top:5px;cursor: pointer;}
    .select-box .wrap {height:200px;border:solid 1px #ddd;margin-top:5px;}
    .select-box ul {float:left;width:33.33%;height:200px;overflow-y: scroll;}
    .select-box ul li {height:25px;line-height:25px;padding:0 10px;background: url(__ROOT__/static/theme/img/arr.gif) no-repeat 95% center;color:#626262;cursor: pointer;}
    .select-box ul li.selected {background:url(__ROOT__/static/theme/img/arr.gif) no-repeat 95% center #edf7ff;}
    .bottom-container .new-out-body{width: 99%;border: 1px solid #FFF;background-color: #FFF;padding: 6px;text-align: left;margin-top: 10px;font-size: 12px;}
    .bottom-container .new-out-body .new-category-show{display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-align-items: center;-moz-box-align: center;-ms-flex-align: center;align-items: center;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;word-break: break-all;color: rgba(0,0,0,.8);}
    .bottom-container .new-out-body .new-category-show .label {color: rgba(0,0,0,.6);}
    .bottom {margin-top: 15px;margin-bottom: 24px;text-align: center;}
</style>