<style>
.goods-item-box fieldset {width: 260px;height: 100px;padding: 15px 20px;display: inline-block;margin: 0 15px 15px 0;}
.inner-input {width: 80px;height: 14px;padding: 1px 5px;line-height: 12px;}
.goods-spec-box {position: relative;margin: 0 10px 10px 0;vertical-align: middle;}
.goods-spec-title {z-index: 2;width: 40px;color: #fff;height: 26px;position: absolute;background: #999;line-height: 27px;}
.goods-spec-close {right: 8px;z-index: 2;line-height: 28px;position: absolute;display: inline-block}
.goods-spec-btn {height: 28px;margin-left: 5px !important;line-height: 26px !important;}
.goods-spec-box input {z-index: 1;width: 120px;position: relative;border: 1px solid #999;padding: 5.2px 1px 5px 45px;display: inline-block !important;}
.goods-spec-box input[type=checkbox] {z-index: 2;width: 40px;height: 28px;border: none;cursor: pointer;appearance: none;position: absolute;-webkit-appearance: none;}
.goods-spec-box input[type=checkbox]:before {top: 1px;left: 1px;width: 40px;height: 24px;content: ' ';position: absolute;background: #c9c9c9;}
.goods-spec-box input[type=checkbox]:after {top: 1px;left: 1px;color: #999;width: 40px;height: 24px;content: '\e63f';font-size: 16px;line-height: 24px;position: absolute;text-align: center;font-family: 'layui-icon';}
.goods-spec-box input[type=checkbox]:checked:after {color: #333;content: '\e605';}
.goods-spec-list .goods-spec-color {width: 69.63%;}
.goods-spec-list .goods-spec-note  {width: 20%;}
.goods-spec-list .goods-spce-image {box-sizing: border-box;}
.goods-spec-list .goods-spce-image a {width: 35px;height: 35px;}
.goods-spec-list .layui-icon {font-size: 12px;}
.goods-spec-list .uploadimage span.layui-icon {width: 10px;height: 10px;line-height: 12px;}
.goods-spec-list .layui-tab {width: 220px;}
.goods-spec-list .layui-tab-title {height: 30px;}
.goods-spec-list .layui-tab-title li{line-height: 30px; font-size: 12px; min-width: 45px;}
.goods-spec-list .layui-tab-title .layui-this:after{height: 31px; border-bottom-color:#f2f2f2;}
.goods-spec-list .goods-spec-name>div, .goods-spec-list .layui-display-flex{display: flex;}
.goods-spec-list .goods-spec-name .goods-spec-input{height: 25px;margin-top: 7px;}
.goods-spec-list .goods-spec-name .goods-spec-note{height: 25px;width: 40%;margin-top: 7px;}

/*颜色样式*/
.color-dropdown-wrapper li {list-style: none;}
.color-dropdown-wrapper .color-list {overflow: hidden;padding-left: 0;}
.color-dropdown-wrapper li a {display: block;color: #333;width: 116px;padding: 0 10px;line-height: 30px;font-size: 12px;text-decoration: none;}
.color-dropdown-wrapper li .color-block {border: 1px solid #ddd;width: 11px;height: 11px;display: inline-block;margin-right: 5px;}
.color-dropdown-wrapper .colors-panel-title,  .color-dropdown-wrapper .colors-suggest-title {margin: 0;font-size: 12px;line-height: 24px;}
.color-dropdown-wrapper .colors-panel .color-tag {float: left;}
.color-dropdown-wrapper .colors-panel {padding: 10px 20px;overflow: hidden;position: relative;}
.color-dropdown-wrapper .color-group-panel {float: left;background: #fff;overflow: hidden;padding-left: 10px;padding-right: 10px;}
.color-dropdown-wrapper li a {display: block;color: #333;width: 116px;padding: 0 10px;line-height: 30px;font-size: 12px;text-decoration: none;}
.color-dropdown-wrapper {background: #fff;border: 1px solid #e5e5e5;color: #333;font-size: 12px;overflow: hidden;}
.color-dropdown-wrapper li:hover {background: #EEEEEE;}
.colors-panel::before {content: "";width: 1px;background-color: #e5e5e5;position: absolute;top: 15px;bottom: 15px;display: block;left: 0;}
.colordrop{z-index: 99;position: absolute;top: 47px;width: 68.6%;}
</style>