{extend name="../../admin/view/main"}
{block name="button"}
    <a onClick="javascript:window.history.back();return false;" class="layui-btn layui-btn-sm layui-btn-primary">返回</a>
{/block}
{block name="content"}
{include file='index/formstyle'}
<form onsubmit="return false" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card layui-form-pane' autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label"><b>商品分类</b></label>
            <div class="layui-input-inline">
                <span class="layui-input">{$select_cats|raw}</span>
            </div>
            <a data-open='{:url("category")}' class="layui-btn layui-btn-radius layui-btn-danger"><span>修改分类</span></a>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><b>商品属性</b></label>
            <div class="layui-input-block">        
                <table class="layui-table">                    
                    <thead>
                        <tr>
                            <th class="text-left">请准确填写属性，有利于商品在搜索和推荐中露出，错误填写可能面临商品下架或流量损失!</th>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <div class="layui-row margin-top-10">
                                    <div class="layui-col-md4 margin-bottom-15">
                                        <label class="layui-form-label">商品货号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="goods_sn" required lay-verify="required" lay-vertype="tips" placeholder="请输入商品货号" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-col-md4 margin-bottom-15">
                                        <label class="layui-form-label">商品重量</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="goods_weight" required lay-verify="required" lay-vertype="tips" placeholder="请输入商品重量" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-col-md4 margin-bottom-15">
                                        <label class="layui-form-label">品牌</label>
                                        <div class="layui-input-inline">
                                            <select name="brand_id" required lay-verify="required" lay-search>
                                                <option value="0">请选择品牌</option>
                                                <!-- {notempty name='goods_brand'} -->
                                                <!-- {foreach $goods_brand as $brand} -->
                                                    <!-- {eq name='brand.id' value='$vo.brand_id|default=0'} -->
                                                        <option selected value='{$brand.id}'>{$brand.brand_name}</option>
                                                    <!-- {else} -->
                                                        <option value='{$brand.id}'>{$brand.brand_name}</option>
                                                    <!-- {/eq} -->
                                                <!-- {/foreach} -->
                                                <!-- {/notempty} -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-col-md4 margin-bottom-15">
                                        <label class="layui-form-label">仓库</label>
                                        <div class="layui-input-inline">
                                            <select name="whouse_id" required lay-verify="required" lay-search>
                                                <option value="0">请选择仓库</option>
                                                <!-- {notempty name='goods_whouses'} -->
                                                <!-- {foreach $goods_whouses as $whouse} -->
                                                    <!-- {eq name='whouse.id' value='$vo.whouse_id|default=0'} -->
                                                        <option selected value='{$whouse.id}'>{$whouse.whouse_name}</option>
                                                    <!-- {else} -->
                                                        <option value='{$whouse.id}'>{$whouse.whouse_name}</option>
                                                    <!-- {/eq} -->
                                                <!-- {/foreach} -->
                                                <!-- {/notempty} -->
                                            </select>
                                        </div>
                                    </div>
                                    <!-- {notempty name='goods_attr'} -->
                                    <!-- {foreach $goods_attr as $key => $attr} -->
                                    <!-- {eq name='attr.attr_type' value='1'} -->
                                    <div class="layui-col-md4 margin-bottom-15">
                                        <label class="layui-form-label">{$attr.attr_name}</label>
                                        <div class="layui-input-inline">
                                            <input type="hidden" name='attr_id[]' value="{$attr.id}">
                                            <select name="attr_value[]"class="layui-input layui-unselect">
                                                <option value="0">请选择</option>
                                                <!-- {foreach $attr.attr_values as $value} -->
                                                    <option value='{$value}'>{$value}</option>
                                                <!-- {/foreach} -->
                                            </select>
                                        </div>
                                    </div>
                                    <!-- {/eq} -->
                                    <!-- {/foreach} -->
                                    <!-- {/notempty} -->
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><b>商品图片</b></label>
            <div class="layui-input-block">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th class="text-left label-required-prev"><label>轮播图</label></th>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <input name="goods_img" type="hidden" value="{$vo.goods_img|default=''}">
                                <script>$('[name="goods_img"]').uploadMultipleImage();</script>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><b>商品规格</b></label>
            <div class="layui-input-block goods-spec-list">
                <!-- {notempty name='goods_attr'} -->
                <!-- {foreach $goods_attr as $key => $attrs} -->
                <!-- {eq name='attrs.attr_type' value='0'} -->
                    <div class="goods-spec-attr goods-spec-box margin-0 relative" style="background:#ddd;padding: 7px!important;">
                        <span class="text-center goods-spec-title">{$attrs.attr_name}</span>
                        <label class="label-required-null inline-block"></label>
                        <div class="pull-right">
                            <a class="layui-btn layui-btn-sm layui-btn-primary goods-spec-btn">增加</a>
                        </div>
                    </div>
                    <div class="goods-spec-value{$key} goods-spec-box padding-10 margin-0 layui-bg-gray block relative">
                        <!-- {foreach $attrs.attr_values as $k => $attr} -->
                        <label class="label-required-null inline-block margin-right-10 margin-bottom-5 relative nowrap">
                            <input type="checkbox" lay-ignore>
                            <input type="text" value="{$attr}">
                        </label>
                        <!-- {/foreach} -->
                    </div>
                <!-- {/eq} -->
                <!-- {/foreach} -->
                <!-- {/notempty} -->
                <div id="goods-spec-table"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><b>商品详情</b></label>
            <div class="layui-input-block">
                <textarea name="content">{$vo.goods_desc|default=''|raw}</textarea>
            </div>
        </div>
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <input type='hidden' value='{:input("cat_id",0)}' name='cat_id'>
        <input type='hidden' value='{:session("user.id")}' name='user_id'>
        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit'>保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' data-open='{:url("index")}'>取消编辑</button>
        </div>
    </div>
</form>
{/block}
{block name='script'}
<script>
    /*! 表单初始化 */
    window.form.render();
    /*! 加载扩展插件 */
    require(['ckeditor', 'angular'], function () {
        // 富文本加载
        window.createEditor('[name="content"]', {height: 400});
    });
    $(function () {
        //SKU信息
        $(".goods-spec-list label").bind("change", function () {
            step.Creat_Table();
        });
        var step = {
            //SKU信息组合
            Creat_Table: function () {
                step.hebingFunction();
                var SKUObj = $(".goods-spec-attr");
                var arrayTile = new Array();//标题组数
                var arrayInfor = new Array();//盛放每组选中的CheckBox值的对象
                var arrayColumn = new Array();//指定列，用来合并哪些列
                var bCheck = true;//是否全选
                var columnIndex = 0;
                $.each(SKUObj, function (i, item){
                    arrayColumn.push(columnIndex);
                    columnIndex++;
                    arrayTile.push(SKUObj.find(".goods-spec-title").eq(i).html().replace("：", ""));
                    var itemName = "goods-spec-value" + i;
                    //选中的CHeckBox取值
                    var order = new Array();
                    $("." + itemName + " input[type=checkbox]:checked").each(function (){
                        order.push($(this).next().val());
                    });
                    arrayInfor.push(order);
                    if (order.join() == ""){
                        bCheck = false;
                    }
                });
                //开始创建Table表
                if (bCheck == true) {
                    var RowsCount = 0;
                    $("#goods-spec-table").html("");
                    var table = $("<table class='layui-table margin-top-10'></table>");
                    table.appendTo($("#goods-spec-table"));
                    var thead = $("<thead></thead>");
                    thead.appendTo(table);
                    var trHead = $("<tr></tr>");
                    trHead.appendTo(thead);
                    //创建表头
                    $.each(arrayTile, function (index, item) {
                        var td = $("<th width='20%' class='text-center nowrap ng-binding ng-scope'>" + item + "</th>");
                        td.appendTo(trHead);
                    });
                    var itemColumHead  = "<th width='15%' class='text-center nowrap'>市场价格<a data-tips-text='批量设置' class='layui-icon'></a></th>";
                        itemColumHead  = itemColumHead + "<th width='15%' class='text-center nowrap'>销售价格<a data-tips-text='批量设置' class='layui-icon'></a></th>";
                        itemColumHead  = itemColumHead + "<th width='15%' class='text-center nowrap'>分销价格<a data-tips-text='批量设置' class='layui-icon'></a></th>";
                        itemColumHead  = $(itemColumHead + "<th width='15%' class='text-center nowrap'>库存数量<a data-tips-text='批量设置' class='layui-icon'></a></th>");
                    itemColumHead.appendTo(trHead);
                    var tbody = $("<tbody></tbody>");
                    tbody.appendTo(table);
                    //生成组合
                    var zuheDate = step.doExchange(arrayInfor);
                    if (zuheDate.length > 0) {
                        //创建行
                        $.each(zuheDate, function (index, item) {
                            var td_array = item.split(",");
                            var tr = $("<tr class='ng-scope'></tr>");
                            tr.appendTo(table);
                            $.each(td_array, function (i, values) {
                                var td = $("<td class='layui-bg-gray text-center nowrap ng-binding ng-scope'>" + values + "</td>");
                                td.appendTo(tr);
                            });
                            var maket_price = $("<td class='padding-0'><label class='padding-0 margin-0'><input class='layui-input border-0 padding-left-0 text-center ng-pristine ng-valid ng-not-empty ng-touched' name='maket_price[]' value=''></label></td>");
                            maket_price.appendTo(tr);
                            var shop_price = $("<td class='padding-0'><label class='padding-0 margin-0'><input class='layui-input border-0 padding-left-0 text-center ng-pristine ng-valid ng-not-empty ng-touched' name='shop_price[]' value=''></label></td>");
                            shop_price.appendTo(tr);
                            var stock_price = $("<td class='padding-0'><label class='padding-0 margin-0'><input class='layui-input border-0 padding-left-0 text-center ng-pristine ng-valid ng-not-empty ng-touched' name='stock_price[]' value=''></label></td>");
                            stock_price.appendTo(tr);
                            var goods_amount = $("<td class='padding-0'><label class='padding-0 margin-0'><input class='layui-input border-0 padding-left-0 text-center ng-pristine ng-valid ng-not-empty ng-touched' name='goods_amount[]' value=''></label></td>");
                            goods_amount.appendTo(tr);
                        });
                    }
                    //结束创建Table表
                    arrayColumn.pop();//删除数组中最后一项
                    //合并单元格
                    $(table).mergeCell({
                        // 目前只有cols这么一个配置项, 用数组表示列的索引,从0开始
                        cols: arrayColumn
                    });
                } else{
                //未全选中,清除表格
                document.getElementById('goods-spec-table').innerHTML="";
                };
            },
            // 合并行
            hebingFunction: function () {
                $.fn.mergeCell = function (options) {
                    return this.each(function () {
                        var cols = options.cols;
                        for (var i = cols.length - 1; cols[i] != undefined; i--) {
                            // fixbug console调试
                            // console.debug(cols[i]);
                            mergeCell($(this), cols[i]);
                        }
                        dispose($(this));
                    });
                };
                function mergeCell($table, colIndex) {
                    $table.data('col-content', ''); // 存放单元格内容
                    $table.data('col-rowspan', 1); // 存放计算的rowspan值 默认为1
                    $table.data('col-td', $()); // 存放发现的第一个与前一行比较结果不同td(jQuery封装过的), 默认一个"空"的jquery对象
                    $table.data('trNum', $('tbody tr', $table).length); // 要处理表格的总行数, 用于最后一行做特殊处理时进行判断之用
                    // 进行"扫面"处理 关键是定位col-td, 和其对应的rowspan
                    $('tbody tr', $table).each(function (index) {
                        // td:eq中的colIndex即列索引
                        var $td = $('td:eq(' + colIndex + ')', this);
                        // 取出单元格的当前内容
                        var currentContent = $td.html();
                        // 第一次时走此分支
                        if ($table.data('col-content') == '') {
                            $table.data('col-content', currentContent);
                            $table.data('col-td', $td);
                        } else {
                            // 上一行与当前行内容相同
                            if ($table.data('col-content') == currentContent) {
                                // 上一行与当前行内容相同则col-rowspan累加, 保存新值
                                var rowspan = $table.data('col-rowspan') + 1;
                                $table.data('col-rowspan', rowspan);
                                // 值得注意的是 如果用了$td.remove()就会对其他列的处理造成影响
                                $td.hide();
                                // 最后一行的情况比较特殊一点
                                // 比如最后2行 td中的内容是一样的, 那么到最后一行就应该把此时的col-td里保存的td设置rowspan
                                if (++index == $table.data('trNum'))
                                    $table.data('col-td').attr('rowspan', $table.data('col-rowspan'));
                            } else { // 上一行与当前行内容不同
                                // col-rowspan默认为1, 如果统计出的col-rowspan没有变化, 不处理
                                if ($table.data('col-rowspan') != 1) {
                                    $table.data('col-td').attr('rowspan', $table.data('col-rowspan'));
                                }
                                // 保存第一次出现不同内容的td, 和其内容, 重置col-rowspan
                                $table.data('col-td', $td);
                                $table.data('col-content', $td.html());
                                $table.data('col-rowspan', 1);
                            }
                        }
                    });
                }
                // 同样是个private函数 清理内存之用
                function dispose($table) {
                    $table.removeData();
                }
            },
            //组合数组
            doExchange: function (doubleArrays) {
                var len = doubleArrays.length;
                if (len >= 2) {
                    var arr1 = doubleArrays[0];
                    var arr2 = doubleArrays[1];
                    var len1 = doubleArrays[0].length;
                    var len2 = doubleArrays[1].length;
                    var newlen = len1 * len2;
                    var temp = new Array(newlen);
                    var index = 0;
                    for (var i = 0; i < len1; i++) {
                        for (var j = 0; j < len2; j++) {
                            temp[index] = arr1[i] + "," + arr2[j];
                            index++;
                        }
                    }
                    var newArray = new Array(len - 1);
                    newArray[0] = temp;
                    if (len > 2) {
                        var _count = 1;
                        for (var i = 2; i < len; i++) {
                            newArray[_count] = doubleArrays[i];
                            _count++;
                        }
                    }
                    //console.log(newArray);
                    return step.doExchange(newArray);
                }
                else {
                    return doubleArrays[0];
                }
            }
        };
        return step;
    });
</script>
{/block}