{extend name='../app/admin/view/main.html'}
{block name="button"}
    <!-- {if auth("add")} -->
        <button data-modal='{:addons_url("add")}' data-title="添加链接" class='layui-btn layui-btn-sm layui-btn-primary'>添加链接</button>
    <!-- {/if} -->
    <!-- {if auth("remove")} -->
        <button data-action='{:addons_url("remove")}' data-csrf="{:systoken('remove')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除链接</button>
    <!-- {/if} -->
{/block}
{block name="content"}
<div class="think-box-shadow table-block">
    <table class="layui-table margin-top-10" lay-skin="line">
        <!-- {notempty name='list'} -->
            <thead>
                <tr>
                    <th class='list-table-check-td think-checkbox'>
                        <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
                    </th>
                    <th class='text-left nowrap'>链接名称</th>
                    <th class='text-left nowrap'>链接地址</th>
                    <th class='text-left nowrap'>排序</th>
                    <th class='text-left nowrap'>创建时间</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- {foreach $list as $key=>$vo} -->
                    <tr data-dbclick>
                        <td class='list-table-check-td think-checkbox'>
                            <input class="list-check-box" value='{$vo.id}' type='checkbox'>
                        </td>
                        <td class='text-left nowrap'>
                            <img alt="img" width="40px" height="40px" data-tips-image src="{$vo.image|default=''}">
                            <div class="inline-block sub-span-blue text-middle margin-left-10">
                                <span><b>{$vo.name|default=''}</b></span><br>
                            </div>
                        </td>
                        <td class='text-left nowrap'>
                            <p class="color-text">{$vo.url|default='-'}</p>
                        </td>
                        <td class='list-table-sort-td'>
                            <label><input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input"></label>
                        </td>
                        <td class='text-left nowrap'>
                            日期：{$vo.create_at|format_datetime|str_replace=' ','<br><span class="color-desc">时间：',###|raw}</span>
                        </td>
                        <td class='text-left nowrap'>
                            <a class="layui-btn layui-btn-xs layui-btn-warm" data-confirm="确定要禁用该禁用账号吗?" data-action="{:url('state')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('state')}">禁 用</a>
                            {if auth("remove")}
                            <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-confirm="确定要删除该日志吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                            {/if}
                        </td>
                    </tr>
                <!-- {/foreach} -->
            </tbody>
        <!-- {/notempty} -->
    </table>
    <!-- {empty name='list'}--><span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}<!-- {/empty} -->
</div>
{/block}